My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "9a0a11b1-28a5-4d68-96a4-80a58093c224",
      "name": "Webhook",
      "webhookId": "1b347603-f353-4cfd-b8cf-136c180e8ffa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "614702c7-214c-40c7-80ef-9c676aac22e9",
              "name": "fileContent",
              "value": "={{ $binary.data.data }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        0
      ],
      "id": "73b04b1e-482a-44c3-98b5-1e9fc618dbe2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional API documentation generator.\n\nWhen given code, analyze it and return ONLY a complete, valid HTML page.\n\nThe HTML must include:\n- A header section with the file/module name and a short description\n- A summary stats bar (number of classes, functions, parameters)\n- One card per class or module with:\n  - Class name and description\n  - A collapsible section for each method showing:\n    - Method signature\n    - Return type badge\n    - Parameter table (name, type, description)\n    - Short description\n- A syntax-highlighted code usage example at the bottom\n- Clean, modern styling using this CSS:\n\n<style>\n  body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; background: #f9f9f9; color: #1a1a1a; margin: 0; padding: 24px; }\n  .header { background: #fff; border: 1px solid #e5e5e5; border-radius: 12px; padding: 20px 24px; margin-bottom: 20px; display: flex; align-items: center; gap: 16px; }\n  .header-icon { width: 48px; height: 48px; background: #e8f0fe; border-radius: 10px; display: flex; align-items: center; justify-content: center; font-size: 22px; }\n  .header h1 { font-size: 20px; font-weight: 600; margin: 0; }\n  .header p { font-size: 13px; color: #666; margin: 4px 0 0; }\n  .stats { display: grid; grid-template-columns: repeat(3, 1fr); gap: 12px; margin-bottom: 20px; }\n  .stat { background: #f0f0f0; border-radius: 8px; padding: 14px 16px; }\n  .stat-num { font-size: 24px; font-weight: 600; }\n  .stat-lbl { font-size: 12px; color: #666; margin-top: 2px; }\n  .card { background: #fff; border: 1px solid #e5e5e5; border-radius: 12px; margin-bottom: 16px; overflow: hidden; }\n  .card-header { background: #fafafa; padding: 14px 20px; border-bottom: 1px solid #e5e5e5; display: flex; justify-content: space-between; align-items: center; }\n  .card-header h2 { font-size: 15px; font-weight: 600; font-family: monospace; margin: 0; }\n  .badge { font-size: 11px; padding: 3px 10px; border-radius: 20px; font-weight: 500; }\n  .badge-blue { background: #e8f0fe; color: #1a56db; }\n  .badge-amber { background: #fef3c7; color: #92400e; }\n  .card-desc { font-size: 13px; color: #555; padding: 12px 20px; border-bottom: 1px solid #e5e5e5; line-height: 1.6; }\n  .methods-label { font-size: 11px; font-weight: 600; color: #999; text-transform: uppercase; letter-spacing: 0.05em; padding: 10px 20px 4px; }\n  .method { border-top: 1px solid #f0f0f0; padding: 12px 20px; cursor: pointer; }\n  .method:hover { background: #fafafa; }\n  .method-top { display: flex; align-items: center; gap: 10px; }\n  .method-sig { font-family: monospace; font-size: 13px; flex: 1; }\n  .method-ret { font-size: 11px; font-family: monospace; color: #888; }\n  .method-body { display: none; margin-top: 10px; padding-top: 10px; border-top: 1px solid #f0f0f0; }\n  .method-body.open { display: block; }\n  .method-desc { font-size: 13px; color: #555; margin-bottom: 10px; }\n  .param-table { width: 100%; border-collapse: collapse; font-size: 12px; }\n  .param-table th { text-align: left; color: #999; font-weight: 600; padding: 4px 8px; border-bottom: 1px solid #eee; }\n  .param-table td { padding: 5px 8px; color: #555; }\n  .param-table td:first-child { font-family: monospace; color: #1a1a1a; }\n  .type { color: #1a56db; }\n  .chevron { font-size: 12px; color: #aaa; transition: transform 0.2s; }\n  .chevron.open { transform: rotate(180deg); }\n  .code-block { background: #1e1e1e; color: #d4d4d4; border-radius: 8px; padding: 16px 20px; font-family: monospace; font-size: 13px; line-height: 1.7; white-space: pre; overflow-x: auto; margin-top: 20px; }\n  .section-title { font-size: 12px; font-weight: 600; color: #999; text-transform: uppercase; letter-spacing: 0.05em; margin-bottom: 10px; }\n</style>\n\n<script>\nfunction toggle(el) {\n  const body = el.querySelector('.method-body');\n  const chevron = el.querySelector('.chevron');\n  body.classList.toggle('open');\n  chevron.classList.toggle('open');\n}\n</script>\n\nIMPORTANT RULES:\n- Return ONLY raw HTML. No markdown. No backticks. No explanation text.\n- Every method must be wrapped in <div class=\"method\" onclick=\"toggle(this)\">\n- The output file will be saved as output.html — make sure it is a complete valid HTML document starting with <!DOCTYPE html>",
        "options": {
          "systemMessage": "You are an expert technical writer. Generate clean \nprofessional markdown API documentation from code. \nBe thorough, clear and developer-friendly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "11f59cd1-8ed3-4ccc-8300-0e91d66a7fa0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        288
      ],
      "id": "1c35aa3c-2d62-47f6-b206-35e56ec6a938",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "xQvOFvAoAGNv3TxB",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        544,
        0
      ],
      "id": "ff546344-527c-4605-be4d-f249a560b104",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e07d9b53-6903-4d2b-9919-a89ba48f258f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c91401c56758f4017c954a953e422f43e59572bf884dc9fdaf07dadffe48a6a4"
  },
  "id": "mVb3GAJGwIOYwh0b",
  "tags": []
}